<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/CollegeParkBoba">College Park Boba</a></li>
      <li><a href="/RandomBoba">Random Boba</a></li>
      <li><a href="/BestBoba">Best Boba</a></li>
      <li><a href="/AlphabeticalBoba">Alphabetical Boba</a></li>
      <li><a href="/SelectCity">Select A City</a></li>
      <li><a href="/AddNewBoba">Add a New Boba Place!</a></li>
    </ul>
  </div>
</div>


<body>
  <div class="content">{{{body}}}</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    
  </script>
</body>

</html>
