<h1 id="title">Add a New Boba Place</h1>
<article>
    <form method="POST" action="/AddNewBoba">
        <div class="input-field">
            <label><b>Name of Boba Place:</b></label>
            <input type="text" name="name" size="50" placeholder="Name">
        </div>
         <div class="input-field">
            <label><b>City</b></label>
            <input type="text" name="city" size="50" placeholder="e.g. College Park">
        </div>
        <div class="input-field">
            <label><b>State</b></label>
            <input type="text" name="state" size="50" placeholder="e.g. Maryland">
        </div>
        <div class="input-field">
            <label><b>Yelp Rating</b></label>
            <input type="text" name="rating" size="10" placeholder="e.g. 3.5">
        </div>
        <div class="input-field">
            <label><b>Milk Tea Flavors</b></label>
            <textarea type="text" name="flavors" rows="20" placeholder="Japanese Green (each flavor on a different line)"></textarea>
        </div>
        <button type="submit">Add Boba Place</button>
    </form>
</article>